.registro-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#root {
    width: 100%;
}

.registro-container {
    text-align: center;
}

.registro-body h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
    font: 600 1.5rem 'Poppins', sans-serif;
    color: #101dda;
}