@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

.registro-body{
    display: flex;
    font: 1em sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #4f54a1, #000dff);
}

.google-logo{
    width: 60px;
border: none;
}

.form-titulo {
    font-size: 50px;
    font-family: sans-serif;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

.registro-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-login-link {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.erro-texto {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: right;
}

.form-grupo {
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: none;
}

.form-input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 255, 0.5); /* Borda transparente azul */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Efeito de brilho */
}

.form-label {
    font-weight: bold;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px; /*nome dentro das caixas*/
}

.form-button {
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    font: sans-serif;
    background-color: #101dda;
    color: #fff;
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out; /*botão criar conta*/
}

.form-select {
 /* Estilo para o select */
    width: 100%;
}

.form-button:hover {
    background-color: #0a1f7d;
    transform: translateY(-2px);
}

.form-button:active {
    transform: translateY(2px);
}