@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

.registro-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #4f54a1, #000dff);
}

.registro-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
    max-width: 400px;
    width: 100%;
}

.form-login-link {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.erro-texto {
    color: red;
    font-size: 0.9rem;
    text-align: bottom;
}

.form-grupo {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.form-input:hover {
    animation: none;
}

.form-input:active {
   animation: none;
}

.form-input {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
}

.form-button {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font: sans-serif;
    background-color: #101dda;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.2s ease-in-out; /*botão criar conta*/
}

.form-button:hover {
    background-color: #0a1f7d;
    transform: translateY(-2px);
}

.form-button:active {
    transform: translateY(2px);
}

.form-select {
 /* Estilo para o select */
    width: 100%;
}
